* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.App {
  display: flex;
  margin: 20px 0;
}

.input {
  display: flex;
  align-items: center;
}

.Todo {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 0 5px;
  padding: 0 5px;
}
.btn:hover {
  text-decoration: 0.3s all;
  color: wheat;
  background-color: green;
}

.text-li {
  text-align: start;
  list-style: none;
}
.check {
  display: block;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
